/* Bordered form */
.login {
    padding: 120px 0px;
    background-color: #fff;
}

.login .row .title h1::before {
    left: 0%;
    right: 0%;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

/* Add a hover effect for buttons */
button:hover {
    color: #fff;
    background-color: rgb(71, 165, 8);
}

/* Add padding to containers */
.mycontainer {
    padding: 16px;
    max-width: 1140px;
    margin: auto;
}