<!DOCTYPE html>
<html lang="en">
<head>
    <title>Abstract</title>
    <link rel="shortcut icon" type="image/png" href="static/favicon.png">
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="static/css/header.css" rel="stylesheet" />
    <link href="static/css/main.css" rel="stylesheet" />
    <link href="static/css/home.css" rel="stylesheet" />
    <link href="static/css/footer.css" rel="stylesheet" />
    <link href="static/css/abstract.css" rel="stylesheet" />
</head>
<body>
    <!--Header Start-->

    <header>
        <div class="container">
            <div class="row">
                <div class="icon">
                    <span>Malaria Disease</span>
                </div>

                <div id="ham-burger" class="hamburger">
                    <i class="fa fa-bars"></i>
                </div>

                <nav class="navbar">
                    <ul>
                        <li><a href="/" class="active">Home</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/signup">Register</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!--Header End-->
    <!--Abstract Start-->

    <section class="abstract" id="abstract">
        <div class="container">
            <div class="row">
                <div class="title text-center">
                    <h1>Abstract</h1>

                    <p>
                        Malaria is the deadliest disease in the earth and big hectic work for
                        the health department. The traditional way of diagnosing malaria is by
                        schematic examining blood smears of human beings for parasite-infected
                        red blood cells under the microscope by lab or qualified technicians.
                        This process is inefficient and the diagnosis depends on the experience
                        and well knowledgeable person needed for the examination. Deep Learning
                        algorithms have been applied to malaria blood smears for diagnosis before.
                        However, practical performance has not been sufficient so far.
                        This paper proposes a new and highly robust machine learning model based
                        on a convolutional neural network (CNN) which automatically classifies and
                        predicts infected cells in thin blood smears on standard microscope slides.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!--Abstract End-->
    <script src="static/js/app.js"></script>
</body>
</html>