<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="description"
          content="For Malaria Disease Detection">
    <meta name="author" content="Malaria Detection">
    <title>Malaria Detection</title>

    <link rel="shortcut icon" type="image/png" href="static/favicon.png">

    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="static/css/header.css" rel="stylesheet" />
    <link href="static/css/main.css" rel="stylesheet" />
    <link href="static/css/home.css" rel="stylesheet" />
    <link href="static/css/footer.css" rel="stylesheet" />
    <link href="static/css/preview.css" rel="stylesheet" />

</head>
<body>

    <!--Header Start-->

    <header>
        <div class="container">
            <div class="row">
                <div class="icon">
                    <span>Malaria Disease</span>
                </div>

                <div id="ham-burger" class="hamburger">
                    <i class="fa fa-bars"></i>
                </div>

                <nav class="navbar">
                    <ul>
                        <li><a href="/" class="active">Home</a></li>
                        <li><a href="/abstract">Abstract</a></li>                   
                        <li><a href="/login">Login</a></li>
                        <li><a href="/signup">Register</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!--Header End-->
    <!--Home Start-->

    <section class="home" id="home">
        <div class="container">
            <div class="row full-screen">
                <div class="home-content">
                    <div class="block">
                        <h1>Malaria Disease Using</h1>
                        <h6>Deep Learning</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Home End-->
    <!--Footer Start-->

    <section class="copyright">
        <div class="container">
            <p>© <span id="year"></span> | Designed and Developed By Syed Affan Hussain | Muhammad Asad | Muhammad Khizar Baig | Mohammad Shehroz | All rights reserved.</p>
        </div>
    </section>

    <script src="static/js/app.js"></script>
    <!--Footer End-->
</body>
</html>