<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
    <link rel="shortcut icon" type="image/png" href="static/favicon.png">
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="static/css/header.css" rel="stylesheet" />
    <link href="static/css/main.css" rel="stylesheet" />
    <link href="static/css/home.css" rel="stylesheet" />
    <link href="static/css/footer.css" rel="stylesheet" />
    <link href="static/css/signup.css" rel="stylesheet" />
</head>
<body>
    <!--Header Start-->

    <header>
        <div class="container">
            <div class="row">
                <div class="icon">
                    <span>Malaria Disease</span>
                </div>

                <div id="ham-burger" class="hamburger">
                    <i class="fa fa-bars"></i>
                </div>

                <nav class="navbar">
                    <ul>
                        <li><a href="/" class="active">Home</a></li>
                        <li><a href="/abstract">Abstract</a></li>                   
                        <li><a href="/login">Login</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!--Header End-->
    <!--Signup Start-->
    <section class="signup" id="signup">
        <form method="post" action="/signup"">
            <div class="container">
                <div class="title text-center">
                    <h1>Register</h1>
                </div>
              <p>Please fill in this form to create an account.</p>
              <hr>
          
              <label for="username"><b>Username</b></label>
              <input type="text" name="username" placeholder="Enter Username" id="username" required>
          
              <label for="password"><b>Password</b></label>
              <input type="password" name="password" placeholder="Enter Password" id="password" required>
          
              <label for="email"><b>Email</b></label>
              <input type="email" name="email" placeholder="Enter Email" id="email" required>
              <div class="msg">{{ msg }}</div>
          
              <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
              <button type="submit" class="registerbtn">Register</button>
            </div>
          
            <div class="container signin">
              <p>Already have an account? <a href="/login">Sign in</a>.</p>
            </div>
        </form>
    </section>
    <script src="static/js/app.js"></script>
    <!--Signup End-->

</body>
</html>